.Navbar{
    background-color: #F0F8FF;
    color: white;
    font-size: 16px;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.Navbar li{
    position: relative;
    text-decoration: none;

}
.Navbar li a {
   padding: 8px 40px;
   margin: 0 4px; 
}
.Navbar li a:hover{
    background-color: lightblue;
 }
.Navbar .dropdown .Content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: lightblue;
    min-width: 160px;
    box-shadow: 0 8px 16px 0px rgba(0, 0,0, 0.2);
    z-index: 1;

}
.Navbar .dropdown:hover .Content{
    display: block;

}
.Navbar .Content a{
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;

}
.Navbar .Content a:hover{
    background-color: whitesmoke;
}
.Navbar a {
    text-decoration: none;
}
.Navbar a:visited{
    color: black;
}
#Search{
    padding: 15px;
    width: 96%;
    font-size: 16px;
    border-radius: 0px;
    background-color: white;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

}
#Search:focus{
    outline: none;
    box-shadow: 0 0 0 2px green;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    column-gap: 20px;

}
body{
    background-color: #B0E0E6;
}
header{
    grid-column: span 3;
    text-align: center;
}

main{
    grid-column: 2/3;
    border: 2px solid black;
    padding: 16px;
    margin: 20px;
    background-color: #F0F8FF;
    box-shadow: 5px 10px 5px (0,0,0,0.2);
}
footer{
    grid-column: span 3;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
.register{
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0,0, 0.2);
    text-align: center;
}
.Register-container{
    display: flex;
    justify-content: center;
    align-items: center;


}
.register p{
    margin-bottom: 15px;
}

.register input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
}
.register input[type="submit"]{
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;

}
.register input[type="submit"]:hover{
    background: #0056b3;
}
.signIn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}
.signIn:hover{
    background-color: #0056b3;
}
.login{
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0,0, 0.2);
    text-align: center;
}
.Login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login p{
    margin-bottom: 15px;
}

.login input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
}
.login input[type="submit"]{
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;

}
.login input[type="submit"]:hover{
    background: #0056b3;
}
.Member{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}
.Member:hover{
    background-color: #0056b3;
}