<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Scoracle</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
        <script src="{{ url_for('static', filename = 'assignment.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <div class="animated-bg"></div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <ul class="Navbar">
            <li class="Scoracle-Logo">
                <a href="{{ url_for('main.home') }}"><img src="{{ url_for('static', filename='scoracle.png') }}" alt="scoracle logo"></a>
            </li>
            <li class="dropdown">
                <a href="{{ url_for('main.yourBets') }}" class="dropdown-trigger">yourBets</a>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-trigger">Fantasy Leagues</a>
                <div class="Content">
                    <a href="{{ url_for('main.create_league') }}">Create League</a>
                    <a href="{{ url_for('main.join_league') }}">Join League</a>
                    <a href="{{ url_for('main.my_leagues') }}">My Leagues</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-trigger">
                    <img src="{{ url_for('static', filename='PremLogo.png') }}" alt="Leagues Logo" class="nav-logo">
                    Leagues
                </a>
                <div class="Content">
                    <a href="{{ url_for('main.league_view', league_code='epl') }}">Premier League</a>
                    <a href="{{ url_for('main.league_view', league_code='La_liga') }}">La Liga</a>
                    <a href="{{ url_for('main.league_view', league_code='Bundesliga') }}">Bundesliga</a>
                    <a href="{{ url_for('main.league_view', league_code='Serie_A') }}">Serie A</a>
                    <a href="{{ url_for('main.league_view', league_code='Ligue_1') }}">Ligue 1</a>
                </div>
            </li>
            {% if session.username %}
                <li class="dropdown">
                    <a href="{{ url_for('main.home') }}">Hello, {{ session.username }}</a>
                </li>
                <li class="dropdown">
                    <a href="{{ url_for('main.logout') }}" class="dropdown-trigger">Logout</a>
                </li>
            {% else %}
            <li class="dropdown">
                <a href="{{ url_for('main.login') }}" class="dropdown-trigger">
                    <img src="{{ url_for('static', filename='login.png') }}" alt="Login Logo" class="nav-logo">
                    Login</a>
            </li>
            <li class="dropdown">
                <a href="{{ url_for('main.register') }}" class="dropdown-trigger">
                    <img src="{{ url_for('static', filename='registerLogo.webp') }}" alt="Premier League Logo" class="nav-logo">
                    Register</a>
            </li>
            {% endif %}
        </ul>
        {% block main_content %}
        {% endblock %}
    </body>
</html>