{% extends "base.html" %}

{% block main_content %}
<div class="grid-container">
    <h1>Create Leagues</h1>
    <main>
        <form>
          <label>League Name</label>
          <input type="text" id="leagueName" required>
          <label>Type of League</label>
          <select name="leagueType" id="leagueType" required>
            <option value="classic">Classic Scoring</option>
            <option value="head2head">Head to Head</option>
            
          </select>
        </form>

    </main>

      <footer>Footer</footer>
    </div>
{% endblock %}