{% extends "base.html" %}

{% block main_content %}
<div class="grid-container">
  <main>
    
    <form method="POST" action="{{ url_for('main.join_league') }}">
      <label>Enter Private League Code:</label>
      <input type="text" name="league_code" required>
      <button type="submit">Join</button>
    </form>

    <h1>Public Leagues</h1>
    {% if leagues %}
      <ul>
        {% for league in leagues %}
          <li>
            <a href="{{ url_for('main.league', league_id=league.id) }}">{{ league.name }}</a>
            {% if league.id|string not in user_leagues %}
              <form action="{{ url_for('main.join_public_league', league_id=league.id) }}" method="POST" style="display:inline;">
                <button type="submit">JOIN</button>
              </form>
            {% else %}
              <button disabled>Already Joined</button>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No public leagues available.</p>
    {% endif %}
  </main>
</div>
{% endblock %}