{% extends "base.html" %}

{% block main_content %}
<div class="fantasy-league">
  <div class="grid-container">
    <main class="league-content">

      <div class="league-header">
        <div class="league-details">
          <h1>{{ league.league_name }}</h1>
          <p>{{ league.league_type }}</p>
          <p>{{ league.privacy }}</p>
          {% if league.privacy == "Private" and league.league_code %}
            <p><strong>Code:</strong> <span class="league-code">{{ league.league_code }}</span></p>
          {% endif %}
          
          {% if league.league_type == "seasonal" %}
            <div class="countdown-container">
              <p>Season end:</p>
              <div id="countdown"></div>
            </div>
            <script>
              let timeLeft = {{ league["time_left"]|default(0)|int }};
            </script>
          {% endif %}
          <p>{{ league.created_at[:10] }}</p>
        </div>

        <div class="members-container">
          <h2>Members</h2>
          {% if league.member_list %}
            <ul class="member-list">
              {% for member in league.member_list %}
                <li>{{ member }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p class="no-members">No members yet.</p>
          {% endif %}
        </div>
      </div>

      <h2 class="leaderboard-title">Leaderboard</h2>
      {% if league.league_type == "classic" %}
        <div class="leaderboard-container">
          <table class="leaderboard-table">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody id="leaderboard">
              {% for player in league.leaderboard %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ player.username }}</td>
                  <td>{{ player.score }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% elif league.league_type == "seasonal" %}
        <div class="leaderboard-container">
          <table class="leaderboard-table">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Score</th>
                <th>Trophies</th>
              </tr>
            </thead>
            <tbody id="leaderboard">
              {% for player in league.leaderboard %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ player.username }}</td>
                  <td>{{ player.score }}</td>
                  <td>{{ player.trophies }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        <h2 class="leaderboard-title">Upcoming fixtures</h2>
      </div>
      {% for fixture in upcoming_fixtures %}
      <div class="match-item">
        <form action="javascript:void(0);" class="bet-form">
          <button type="button" class="bet-button"
              onclick="placeBet({{ league.id }}, '{{ fixture.id }}', 'home', this)">
              Quick Bet
          </button>
        </form>

        <img src="" alt="Home Crest"
          class="team-crest"
          data-team="{{ fixture.h.title }}">

        <span class="team-name">{{ fixture.h.title }}</span>

        <div class="match-time-vs">
          <a href="{{ url_for('main.prediction', match_id=fixture.id) }}" class="match-time-link">
            <span class="match-time">
              {{ fixture.datetime.split(' ')[1][:5] }}
            </span>
          </a>
          <span class="match-vs">VS</span>
        </div>

        <span class="team-name">{{ fixture.a.title }}</span>

        <img src="" alt="Away Crest"
           class="team-crest"
          data-team="{{ fixture.a.title }}">

        <form action="javascript:void(0);" class="bet-form">
          <button type="button" class="bet-button"
              onclick="placeBet({{ league.id }}, '{{ fixture.id }}', 'away', this)">
              Quick Bet
          </button>
        </form>
      </div>
      {% endfor %}
    </div>  
    </main>
  </div>
</div>

<script>
  const leagueId = "{{ league.id }}";
  const matchId = "{% if upcoming_fixtures|length > 0 %}{{ upcoming_fixtures[0].id }}{% else %}''{% endif %}";
</script>
<script src="{{ url_for('static', filename='league.js') }}"></script>
{% endblock %}