{% extends "base.html" %}

{% block main_content %}
<div class="fantasy-league">
<div class="grid-container">
  <main>
    <h1>{{ league.league_name }}</h1>
    <p>Type: {{ league.league_type }}</p>
    <p>Privacy: {{ league.privacy }}</p>
    {% if league.privacy == "Private" and league.league_code %}
      <p>League Code: {{ league.league_code }}</p>
    {% endif %}
    <p>Created: {{ league.created_at }}</p>

    <h2>Members</h2>
    {% if league.member_list %}
      <ul>
        {% for member in league.member_list %}
          <li>{{ member }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No members yet.</p>
    {% endif %}

    <h2 class="leaderboard-title">Leaderboard</h2>
    <div class="leaderboard-container">
      <table class="leaderboard-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody id="leaderboard">
          {% for player in league.leaderboard %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ player.username }}</td>
              <td>{{ player.score }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="fixtures-container">
      {% for fixture in upcoming_fixtures %}
      <div class="match-item">
          <div class="match-date">
              {{ fixture.datetime.split(' ')[0] }}
              <span class="match-time">{{ fixture.datetime.split(' ')[1][:5] }}</span>
          </div>
          <div class="match-details">
            <form action="javascript:void(0);" class="bet-form">
              <button type="button" class="bet-button" onclick="placeBet({{ league.id }}, '{{ fixture.id }}', 'home', this)">
                Bet
              </button>
            </form>
            <div class="match-teams">
              <a href="{{ url_for('main.fixtures', team_name=fixture.h.title) }}" class="team-link">
                  <img src="" class="team-crest" data-team="{{ fixture.h.title }}">
                  <span class="team-name">{{ fixture.h.title }}</span>
              </a>
              <span class="score">vs</span>
              <a href="{{ url_for('main.fixtures', team_name=fixture.a.title) }}" class="team-link">
                  <span class="team-name">{{ fixture.a.title }}</span>
                  <img src="" class="team-crest" data-team="{{ fixture.a.title }}">
              </a>
            </div>
            <form action="javascript:void(0);" class="bet-form">
              <button type="button" class="bet-button" onclick="placeBet({{ league.id }}, '{{ fixture.id }}', 'away', this)">
                Bet
              </button>
            </form>
          </div>
      </div>
      {% endfor %}
    </div>
  </main>
</div>
</div>

<script>
  const leagueId = "{{ league.id }}";
  const matchId = "{% if upcoming_fixtures|length > 0 %}{{ upcoming_fixtures[0].id }}{% else %}''{% endif %}";
</script>
<script src="{{ url_for('static', filename='league.js') }}"></script>
{% endblock %}