{% extends "base.html" %}

{% block main_content %}
<div class="grid-container">
    <main>
      <div class="intro">
          <img src="{{ url_for('static', filename='scoracle.png') }}" alt="scoracle logo"/>
          <h1>Scoracle</h1>
          <p>Welcome to Scoracle! Register and start your own Fantasy Football League, combining analysis with competition through informed statistics!</p>
          <br>
          <p>Join a league, create your own or browse our insightful statistics!</p>
          <br>
      </div>
    <h2 class="section-title">Recent Results</h2>
        <div class="fixtures-container">
            {% for result in recent_results %}
            <a href="{{ url_for('main.single_result', league_code=league_code, match_id=result.id) }}" class="match-time-link">
              <div class="match-date">
                {{ result.datetime.split(' ')[0] }}
              </div>
            </a>
                <div class="match-teams">
                  <a href="{{ url_for('main.fixtures', league_code=league_code, team_name=result.h.title) }}" class="team-link">
                    <img src="" class="team-crest" data-team="{{ result.h.title }}">
                    <span class="team-name">{{ result.h.title }}</span>
                  </a>
                    <span class="score">{{ result.goals.h }} - {{ result.goals.a }}</span>
                  <a href="{{ url_for('main.fixtures', league_code=league_code, team_name=result.a.title) }}" class="team-link">
                    <span class="team-name">{{ result.a.title }}</span>
                    <img src="" class="team-crest" data-team="{{ result.a.title }}">
                  </a>
                </div>
            {% endfor %}
        </div>

        <h2 class="section-title">Upcoming Fixtures</h2>
        <div class="fixtures-container">
            {% for fixture in upcoming_fixtures %}
            <a href="{{ url_for('main.prediction', league_code=league_code, match_id=fixture.id) }}" class="match-time-link">
              <div class="match-date">
                {{ fixture.datetime.split(' ')[0] }}
                <span class="match-time">{{ fixture.datetime.split(' ')[1][:5] }}</span>
              </div>
            </a>
                <div class="match-teams">
                  <a href="{{ url_for('main.fixtures', league_code=league_code, team_name=fixture.h.title)}}" class="team-link">
                    <img src="" class="team-crest" data-team="{{ fixture.h.title }}">
                      <span class="team-name">{{ fixture.h.title }}</span>
                  </a>
                    <span class="score">vs</span>
                  <a href="{{url_for('main.fixtures', league_code=league_code, team_name=fixture.a.title) }}" class="team-link">
                    <span class="team-name">{{ fixture.a.title }}</span>
                    <img src="" class="team-crest" data-team="{{ fixture.a.title }}">
                  </a>
                </div>
            {% endfor %}
        </div>
    </main>
</div>


{% endblock %}