{% extends "base.html" %}

{% block main_content %}
<div class="my-leagues">
<div class="grid-container">
    <main class="leagues-content">
        <h1>My Leagues</h1>
        
        {% if leagues %}
            <ul class="league-list">
                {% for league in leagues %}
                    <li class="league-item">
                        <a href="{{ url_for('main.league', league_id=league.id) }}">
                            {{ league.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-leagues">You are not in any leagues yet.</p>
        {% endif %}
    </main>
</div>
</div>
{% endblock %}