{% extends "base.html" %}

{% block main_content %}
<div class="join-league">
    <div class="grid-container">
        <main class="leagues-container">
            <h1>My Leagues</h1>

            {% if leagues %}
            <div class="public-leagues">
                <table class="league-table">
                    <thead>
                        <tr>
                            <th>League Name</th>
                            <th>League Type</th>
                            <th>Members</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for league in leagues %}
                            <tr>
                                <td><a href="{{ url_for('main.league', league_id=league.id) }}" class="league-link">{{ league.name }}</a></td>
                                <td>{{ league.league_type|capitalize }}</td>
                                <td>{{ league.member_count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <div class="public-leagues">
            {% else %}
                <p class="no-leagues">You are not in any leagues yet.</p>
            {% endif %}
        </main>
    </div>
</div>
{% endblock %}