{% extends "base.html" %}

{% block navbar %}{% endblock %} 
{% block searchbar %}{% endblock %}

{% block main_content %}
    <div class="Register-container">
    <form action="" method="post" novalidate class="register">
        <h1>Register</h1>
        <p>
        {{ form.hidden_tag() }}
        {{ form.user_id.label }} 
        {{ form.user_id() }}
        {% for error in form.user_id.errors %}
            {{ error }}
        {% endfor %}
        </p>
        <p>
        {{ form.password.label }} 
        {{ form.password() }}
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
        </p>
        <p>
        {{ form.password2.label }} 
        {{ form.password2() }}
        {% for error in form.password2.errors %}
        {{ error }}
        {% endfor %}
        </p>
        <p>
        {{ form.submit() }}
        </p>
        <br />
        <a href="{{ url_for('main.login') }}" class="signIn">Already have an Account? Log In</a>
    </form>
    </div>



{% endblock %} 

