{% extends "base.html" %}

{% block main_content %}
<div class="grid-container">
    <main>
        <div class="teams-container">
            <div class="team-home-team">
                <h2>{{ match.h.title }}</h2>
            </div>
            
            <div class="match-time">
                {{ match.datetime.split(' ')[1][:5] }}
            </div>

            <div class="team-away-team">
                <h2>{{ match.a.title }}</h2>
            </div>
        </div>

        <div class="score-container">
            <span class="final-score">{{ match.goals.h }} - {{ match.goals.a }}</span>
        </div>
            
        <div class="match-date">
            {{ match.datetime.split(' ')[0] }}
        </div>

        <div class="match-stats">
            <!-- add match statistics here -->
            <p>some stats:</p>
           
        </div>
        <!-- Players stats will go here too. I am thinking you click on player then 
         there's some js which shows some shit -->
    </main>
    <footer>Footer</footer>
</div>
{% endblock %}